<template>
	<div class="fh">
		<navbar class="navbar-expand-lg navbar-light bg-light" v-bind="{brand,links}"></navbar>
		<div class="container hvh-90">
			<router-view v-bind="{user,admin}" @logout="logout"></router-view>
			<!--let user,admin accessable from child components-->
		</div>
	</div>
</template>
<script>
import firebase from '../firebase'
const db = firebase.database()

import navbar from './navbar'

export default {
	data() {
		return {
			user: null,
			admin: false,
			brand: 'Website'
		}
	},
	computed: {
		links(){
			let ls=[{text: 'Chat',url: '/'}]
			if(this.user){//if logined
				ls.push({text: 'Note',url: '/notelist'})
				ls.push({text: 'Profile',url: '/profile'})
			}
			else{
				ls.push({text: 'Login',url: '/login'})
			}
			return ls
		}
	},
	methods: {
		logout(){
			this.user=null
			this.admin=false
		}
	},
	created() {
		firebase.auth().onAuthStateChanged(user => {
			if (user) {
				let adm = db.ref('admin')
				adm.once('value').then(sn => {
					if (Object.values(sn.exportVal()).indexOf(user.uid) != -1) {
						this.admin = true
					}
				})
				this.user = user
				this.$router.push('/')
			}
		})
	},
	components: {navbar}
}
</script>
