<template>
	<div class="col-xs-12 d-flex flex-column h-100 mh-100">
		<!--input channel-->
		<div class="row p-2">
			<div class="input-group">
				<input @keydown.enter="go" type="text" class="form-control" placeholder="channel(default: global)" v-model="channelText">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="button" @click="go">Go</button>
				</span>
			</div>
		</div>

		<!--current channel-->
		<div class="row p-2">
			<ol class="breadcrumb">
				<li v-for="(ch,idx) in channel" :key="ch" class="breadcrumb-item" :class="{'active': idx===channel.length-1}" @click="pathgo(idx)">
					<a href="javascript:void(0)" v-if="idx<channel.length-1">{{ ch }}</a>
					<template v-else>{{ ch }}</template>
				</li>
			</ol>
		</div>

		<!--chat list-->
		<div class="row p-2 col-xs-12 d-flex flex-column justify-content-start flex-1">
			<ul class="list-group flex-1" id="chatbox">

				<!--loading animation-->
				<loading :loading="loading" size="100px" class="align-middle"></loading>

				<li class="list-group-item" v-for="item in chatlist" :key="item.time" v-if="item.sender">
					<div class="row">
						<div class="d-flex justify-content-start w-100">
							<!--left: avatar block-->
							<div class="p-2">
								<img :src="item.sender.photoURL" class="avatar">
							</div>
							<!--center: name and text-->
							<div class="p-2 d-flex flex-column">
								<span>
									<b>{{ item.sender.displayName }}</b>
								</span>
								<span>{{ item.message }}</span>
							</div>
							<!--right: time and delete button-->
							<div class="p-2 ml-auto d-flex flex-column align-self-end">

								<!--delete button-->
								<span v-if="admin||(user&&item.sender.uid===user.uid)">
									<a class="red" href="javascript:void(0)" @click="del(item)">delete</a>
								</span>

								<!--time-->
								<span class="text-muted time">{{ moment(item.time).fromNow() }}</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="input-group p-4">
				<input @keydown.enter="send" type="text" :disabled="user===null" class="form-control" :placeholder="user===null?'Please login to join chat':'Chat here...'" v-model="text">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="button" @click="send">Send</button>
				</span>
			</div>
		</div>

		<!--text input-->
		<!-- <div class="row p-2 col-xs-12 mb-0">
			<div class="input-group">
				<input @keydown.enter="send" type="text" :disabled="user===null" class="form-control" :placeholder="user===null?'Please login to join chat':'Chat here...'" v-model="text">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="button" @click="send">Send</button>
				</span>
			</div>
		</div> -->
	</div>
</template>
<script>
import moment from 'moment'
import firbase from '../firebase'
import page from './mixins/page.js'
import load from './mixins/load.js' 
const db = firbase.database()
export default {
	mixins: [page,load],
	data() {
		return {
			text: '',
			channel: ['global'],
			channelText: '',
			loading: true
		}
	},
	firebase(){
		return {
			chatlist: {
				source: db.ref('channel/'+this.channel),
				readyCallback(){
					this.loading=false
				}
			}
		}
	},
	methods: {
		send() {
			if(this.text.length>0){
				this.$firebaseRefs.chatlist.push({
					sender: this.user.toJSON(),
					message: this.text,
					time: Date.now()
				})
				this.text = ''
			}
		},
		del(item) {
			this.$firebaseRefs.chatlist.child(item['.key']).remove()
		},
		go(){
			if(!/^[A-Za-z0-9/]*$/.test(this.channelText))alert('channel only contains A~Z a~z 0~9 and "/"')
			else{
				this.channel=this.channelText.toLowerCase().trim().split('/').filter(s=>s.length>0) //format channel string

				//all channel should start with global
				if(this.channel.length===0)
					this.channel.push('global')
				if(this.channel[0]!='global')
					this.channel.unshift('global')
				
				//update chatlist ref
				this.$bindAsArray('chatlist',db.ref('channel/'+(this.channel.join('/')||'global')))

				this.channelText=''
			}
		},
		pathgo(idx){
			this.channelText=this.channel.slice(0,idx+1).join('/')
			this.go()
		},
		moment
	}
}
</script>
<style lang="less" scoped>
#chatbox {
	overflow-y: scroll;
}

.avatar {
	width: 40px;
	height: 40px;
}

.time {
	font-size: 10px;
}

.red {
	color: red;
}
</style>
