<template>
	<div class="col-xs-12">
		<div class="d-flex row justify-content-center">
			<div v-if="user===null" class="d-flex flex-column col-md-6">
				<div class="p-2 align-self-center">
					<h4>Login</h4>
				</div>
				<div class="p-2">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-center" @click="glogin">
							<div>
								<img src="/svg/google.svg" class="img-fluid">
							</div>
							<div class="pl-2">Login with Google</div>
						</li>
						<li class="list-group-item d-flex justify-content-center" @click="tlogin">
							<div>
								<img src="/svg/twitter.svg" class="img-fluid">
							</div>
							<div class="pl-2">Login with Twitter</div>
						</li>
						<li class="list-group-item d-flex justify-content-center" @click="flogin">
							<div>
								<img src="/svg/facebook.svg" class="img-fluid">
							</div>
							<div class="pl-2">Login with Facebook</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import firebase from '../firebase'
const db = firebase.database()
import page from './mixins/page.js'
export default {
	mixins: [page],
	methods: {
		glogin() {
			this.login(new firebase.auth.GoogleAuthProvider())
		},
		tlogin() {
			this.login(new firebase.auth.TwitterAuthProvider())
		},
		flogin() {
			this.login(new firebase.auth.FacebookAuthProvider())
		},
		login(pvd){
			//login in logics in App.vue
			firebase.auth().signInWithPopup(pvd).catch(e=>alert(e.message))
		}
	}
}
</script>
