<template>
	<nav class="navbar">
		<a class="navbar-brand" href="#" v-if="brand">{{ brand }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<router-link v-for="link in links" :key="link.text" tag="li" class="nav-item" active-class="active" :to="link.url" exact>
					<a href="javascript:void()" class="nav-link">{{ link.text }}</a>
				</router-link>
			</ul>
		</div>
	</nav>
</template>
<script>
export default {
	props: ['brand','links']
}
</script>
