<template>
	<div class="card">
		<div class="card-header">
			<div class="input-group">
				<span class="input-group-addon">Title:</span>
				<input type="text" v-model="xnote.title" class="form-control" placeholder="Title">
			</div>
		</div>
		<div class="card-body">
			<div class="card-text form-group">
				<textarea class="form-control" v-model="xnote.text" rows="10" placeholder="Content"></textarea>
			</div>
			<a href="javascript:void(0)" class="card-link btn btn-outline-primary" @click="save(xnote)">Save</a>
			<a href="javascript:void(0)" class="card-link btn btn-outline-danger ml-0" @click="del(xnote)">Delete</a>
		</div>
	</div>
</template>
<script>
export default {
	props: ['note'],
	data() {
		return {
			xnote: this.note
		}
	},
	methods: {
		save(nt) {
			this.$emit('save', nt)
		},
		del(nt) {
			this.$emit('delete', nt)
		}
	}
}
</script>
