<template>
	<div class="col-xs-12" v-if="user!==null">

		<!--loading animation-->
		<loading :loading="loading"></loading>

		<div class="flex-column d-flex justify-content-center" v-if="notelist">
			
			<!--list-->
			<div class="p-2 d-flex flex-column">
				<note v-for="note in notelist" :key="note.time" :note="note" @save="save" @delete="del"></note>
			</div>

			<!--button-->
			<div class="p-2 col-xs-12 d-flex justify-content-center">
				<button @click="add" class="btn btn-primary col-xs-12 col-md-4">Add</button>
			</div>
		</div>
	</div>
</template>
<script>
import note from './note'

import firebase from '../firebase'
const db = firebase.database()

import page from './mixins/page'
import load from './mixins/load'
export default {
	mixins: [page, load],
	data() {
		return {
			loading: true
		}
	},
	firebase() {
		var o = {}
		if (this.user) {
			o.notelist = {
				source: db.ref('userdata/' + this.user.uid + '/note'),
				readyCallback() {
					this.loading = false
				}
			}
		}
		else{
			//dummy ref
			o.notelist = db.ref('/aaaaaaaaaa')
			this.$router.replace('/')
		}
		return o
	},
	methods: {
		add() {
			this.$firebaseRefs.notelist.push({
				title: '',
				text: '',
				time: Date.now()
			})
		},
		save(note) {
			var nt = { ...note }
			delete nt['.key']
			this.$firebaseRefs.notelist.child(note['.key']).set(nt)
		},
		del(note) {
			this.$firebaseRefs.notelist.child(note['.key']).remove()
		}
	},
	components: { note }
}
</script>