<template>
	<div class="col-xs-12">
		<div class="row d-flex justify-content-center">
			<div class="card col-xs-12" style="width: 20rem;" v-if="user">

				<!--avatar-->
				<img class="card-img-top" :src="user.photoURL" alt="avatar">

				<div class="card-body">
					<h4 class="card-title">{{ user.displayName }}</h4>

					<!--email: only google login-->
					<h6 class="card-subtitle mb-2 text-muted" v-if="user.email">
						<a :href="user.email | mail" target="_blank">{{ user.email }}</a>
					</h6>

					<!--buttons-->
					<a href="javascript:void(0)" class="card-link" @click="logout">Logout</a>
					<a href="javascript:void(0)" class="card-link" @click="alert('You are admin!')" v-if="admin">Admin</a>

				</div>
			</div>
		</div>
	</div>
</template>
<script>
import firebase from '../firebase'
import page from './mixins/page.js'
export default {
	mixins: [page],
	data() {
		return {
			
		}
	},
	methods: {
		logout() {
			firebase.auth().signOut().then(()=>{
				this.$emit('logout')
				this.$router.push('/')
			})
		}
	},
	filters: {
		mail(email){
			return `mailto:${email}`
		}
	}
}
</script>
