.hvh(10);

.hvh(@n, @i: 1) when (@i =< @n) {
  @x: (@i * 100 / @n);
  .hvh-@{x} {
    height: (@i * 100vh / @n) !important;
  }
  .hvh(@n, (@i + 1));
}

.wvh(10);

.wvh(@n, @i: 1) when (@i =< @n) {
  @x: (@i * 100 / @n);
  .wvh-@{x} {
    width: (@i * 100vh / @n) !important;
  }
  .wvh(@n, (@i + 1));
}

.flex(10);

.flex(@n, @i: 1) when (@i =< @n) {
  .flex-@{i} {
    flex: @i !important;
  }
  .flex(@n, (@i + 1));
}

.btn:focus {
	outline: none !important;
	box-shadow:none;
}

.fh{
	min-height: 100vh !important;
	max-height: 100vh !important;
	height: 100vh !important;
}

.navbar{
	height: 7vh;
}